.input {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    border: none;
    outline: none;
    word-break: break-word;
    border-bottom: 1px solid #ddd;
}