* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Apple Color Emoji,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}
#root {
    width: 700px;
    padding: 0px 15px;
    margin: auto;
}
/* Task */
.task {
    display: flex;
    padding: 15px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid #f0f0f0;
}
/* Task button*/
.task-button {
    display: contents;
}
/* Task checkbox*/
.task-checkbox__circle {
    border: 1px solid #808080;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    overflow: hidden;
}
.task-checkbox__circle:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}
.task-checkbox__circle svg {
    display: inline-block;
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    margin-left: -6.5px;
    transition: opacity .15s cubic-bezier(.4,0,1,1);
    margin-top: -6px;
    opacity: 0;
}
.task-checkbox__circle.checked svg, .task-checkbox__circle:hover svg {
    opacity: 1;
    cursor: pointer;
}
/* Priority 1 */
.task-checkbox__circle.priority-1,
.task-checkbox__circle.priority-2,
.task-checkbox__circle.priority-3 {
    width: 18px;
    height: 18px;
    border-width: 2px;
}
.task-checkbox__circle.priority-1 {
    border-color: #d1453b;
    background: rgba(209,69,59,.1);
    color: #d1453b;
}
.task-checkbox__circle.priority-2 {
    border-color: #eb8909;
    background: rgba(235,137,9,.1);
    color: #eb8909;
}
.task-checkbox__circle.priority-3 {
    border-color: #246fe0;
    background: rgba(36,111,224,.1);
    color: #246fe0;
}
.task-checkbox__circle.priority-1 svg,
.task-checkbox__circle.priority-2 svg,
.task-checkbox__circle.priority-3 svg {
    margin-left: -6px;
}
/* Task body*/
.task-body{
    padding: 0px 10px;
}
.task-body__title{
    color: #202020;
    font-size: .875rem;
}
.task-body__description {
    color: #808080;
    font-size: .75rem;
}
.task-body__date {
    color: #808080;
    font-size: .75rem;
}
