* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Apple Color Emoji,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}
#root {
    padding: 0rem;
    margin: 0rem;
}
a{
    text-decoration: none;
}
header {
    background:#db4c3f; 
    width: 100%; 
    height: 45px;
}
main {
    width: 700px;
    margin: auto;
    padding: 30px 10px;
}
.task-list__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
/* Task */
.task {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 5px 0px;
    margin: 5px 0px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}
.task-body{
    flex: 1;
    padding: 8px 0;
    margin-right: 30px;
}
/* Task button*/
.task-button {
    display: contents;
}
.task-checkbox {
    margin-top: 5px;
}
/* Task checkbox*/
.task-checkbox__circle {
    border: 1px solid #808080;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    overflow: hidden;
}
.task-checkbox__circle:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}
.task-checkbox__circle svg {
    display: inline-block;
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    margin-left: -6.5px;
    transition: opacity .15s cubic-bezier(.4,0,1,1);
    margin-top: -6px;
    opacity: 0;
}
.task-checkbox__circle.checked svg, .task-checkbox__circle:hover svg {
    opacity: 1;
    cursor: pointer;
}
/* Priority 1 */
.task-checkbox__circle.priority-1,
.task-checkbox__circle.priority-2,
.task-checkbox__circle.priority-3 {
    width: 18px;
    height: 18px;
    border-width: 2px;
}
.task-checkbox__circle.priority-1 {
    border-color: #d1453b;
    background: rgba(209,69,59,.1);
    color: #d1453b;
}
.task-checkbox__circle.priority-2 {
    border-color: #eb8909;
    background: rgba(235,137,9,.1);
    color: #eb8909;
}
.task-checkbox__circle.priority-3 {
    border-color: #246fe0;
    background: rgba(36,111,224,.1);
    color: #246fe0;
}
.task-checkbox__circle.priority-1 svg,
.task-checkbox__circle.priority-2 svg,
.task-checkbox__circle.priority-3 svg {
    margin-left: -6px;
}
/* Task body*/
.task-body{
    padding: 0px 10px;
}
.task-body__title{
    color: #202020;
    font-size: .875rem;
    flex-grow: 1;
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.task-body__description {
    color: #808080;
    font-size: .75rem;
    flex-basis: 100%;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.task-body__date {
    color: #808080;
    font-size: .75rem;
}

.task-list-actions {
    display: none;
    justify-content: flex-end;
    height: 24px;
    margin-right: -38px;
    margin-top: 8px;
    padding-left: 16px;
    position: relative;
    right: 0;
    top: 0;
    cursor: pointer;
}
.task:hover .task-list-actions{
    display: flex;
}
.task-list-actions>button, .task-list-actions a {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: grey;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}
.task-list-actions>button:hover, .task-list-actions a:hover {
    color: #202020;
    background-color: #eee;
    z-index: 5;
}
.task-list-actions>button svg {
    position: absolute;
    z-index: 10;
}

/*** News ***/
.news{
height: 400px;
}
.news__cell-shape {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: transparent;
    border-radius: .25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    cursor: pointer;
}
.news__cell-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: .25rem;
}
.news__cell-background__image {
    background-position: center center;
    background-size: cover;
    border-radius: .25rem;
    height: 100%;
    z-index: 0;
}
.news__cell-background__image:before{
    content: "";
    position: absolute;
    height: 75%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.75)));
    background-image: linear-gradient(180deg, transparent, rgba(0,0,0,0.75));
    border-radius: .25rem;
    z-index: 1;
}
.news__cell-shape:hover .news__cell-background__image:before{
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.85)));
    background-image: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}
.news__cell-title {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 22px;
    text-align: left;
}
.news__cell-title span {
    position: absolute;
    bottom: 4rem;
    padding: 0rem 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.cell-info {
    position: absolute;
    display: flex;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
}
.cell-info ul {
    position: relative;
    display: flex;
    align-items: center;
    font-size: .7rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cell-info ul .nav-item {
    fill: #fff;
    color: #fff;
    opacity: 0.5;
}
.cell-info .cell-info__share .nav-item:hover {
    opacity: 1;
}
.cell-info ul .nav-item .nav-link {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
}
.cell-info .cell-info__date .nav-item:nth-child(2) .nav-link {
    width: 1.05rem;
    height: 1.05rem;
}
.cell-info ul .nav-item .nav-link .svg-icon {
    width: 100%;
    height: 100%;
}
.cell-info .cell-info__date {
    justify-content: start;
}
.cell-info .cell-info__share {
    justify-content: end;
}
.cell-info__share .nav-item:last-child .nav-link {
    margin-right: -5px;
}
.cell-info__share .share-more .share-more__desktop,
.cell-info__share .share-more .share-more__mobile {
    height: 100%;
}
/* Share-full */
.share-full {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    z-index: 1000;
    min-width: fit-content;
    max-height: 94%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: -4px 4px 15px rgb(0 0 0 / 25%);
    text-align: left;
    font-size: .8rem;
    /* font-family: "NotoSans",Arial,sans-serif; */
}
.share-full:after {
    content: "";
    position: absolute;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    top: 100%;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}
.share-full ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}
.share-full ul li {
    display: block;
}
.share-full ul li a {
    display: block;
    padding: 0 20px;
    width: 100%;
    color: #5E5E5E;
    line-height: 37px;
}
.share-full ul li a:hover {
    background-color: #F2F2F2;
}
.share-full .share-full__icon {
    display: flex;
    float: right;
    margin: 5px 0 0 -26px;
    width: 26px;
    height: 26px;
}
.share-full .share-full__icon .svg-icon {
    width: 100%;
    height: 100%;
}
.share-full .share-full__text {
    padding-right: 56px;
}