* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Apple Color Emoji,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}
#root {
    padding: 0rem;
    margin: 0rem;
}
a{
    text-decoration: none;
}
header {
    background:#db4c3f; 
    width: 100%; 
    height: 45px;
}
main {
    width: 100%;
    margin: auto;
    padding: 30px 10px;
}
.task-list__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
/* Task */
.task {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 5px 0px;
    margin: 5px 0px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}
.task-body{
    flex: 1;
    padding: 8px 0;
    margin-right: 30px;
}
/* Task button*/
.task-button {
    display: contents;
}
.task-checkbox {
    margin-top: 5px;
}
/* Task checkbox*/
.task-checkbox__circle {
    border: 1px solid #808080;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    overflow: hidden;
}
.task-checkbox__circle:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}
.task-checkbox__circle svg {
    display: inline-block;
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    margin-left: -6.5px;
    transition: opacity .15s cubic-bezier(.4,0,1,1);
    margin-top: -6px;
    opacity: 0;
}
.task-checkbox__circle.checked svg, .task-checkbox__circle:hover svg {
    opacity: 1;
    cursor: pointer;
}
/* Priority 1 */
.task-checkbox__circle.priority-1,
.task-checkbox__circle.priority-2,
.task-checkbox__circle.priority-3 {
    width: 18px;
    height: 18px;
    border-width: 2px;
}
.task-checkbox__circle.priority-1 {
    border-color: #d1453b;
    background: rgba(209,69,59,.1);
    color: #d1453b;
}
.task-checkbox__circle.priority-2 {
    border-color: #eb8909;
    background: rgba(235,137,9,.1);
    color: #eb8909;
}
.task-checkbox__circle.priority-3 {
    border-color: #246fe0;
    background: rgba(36,111,224,.1);
    color: #246fe0;
}
.task-checkbox__circle.priority-1 svg,
.task-checkbox__circle.priority-2 svg,
.task-checkbox__circle.priority-3 svg {
    margin-left: -6px;
}
/* Task body*/
.task-body{
    padding: 0px 10px;
}
.task-body__title{
    color: #202020;
    font-size: .875rem;
    flex-grow: 1;
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.task-body__description {
    color: #808080;
    font-size: .75rem;
    flex-basis: 100%;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.task-body__date {
    color: #808080;
    font-size: .75rem;
}

.task-list-actions {
    display: none;
    justify-content: flex-end;
    height: 24px;
    margin-right: -38px;
    margin-top: 8px;
    padding-left: 16px;
    position: relative;
    right: 0;
    top: 0;
    cursor: pointer;
}
.task:hover .task-list-actions{
    display: flex;
}
.task-list-actions>button, .task-list-actions a {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: grey;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}
.task-list-actions>button:hover, .task-list-actions a:hover {
    color: #202020;
    background-color: #eee;
    z-index: 5;
}
.task-list-actions>button svg {
    position: absolute;
    z-index: 10;
}

/*** post ***/
.g__1, .gy__1 {
    --bs-gutter-y: 0.25rem;
}
.g__1, .gx__1 {
    --bs-gutter-x: 0.25rem;
}
.g__2, .gy__2 {
    --bs-gutter-y: 0.5rem;
}
.g__2, .gx__2 {
    --bs-gutter-x: 0.5rem;
}
.g__3, .gy__3 {
    --bs-gutter-y: 0.75rem;
}
.g__3, .gx__3 {
    --bs-gutter-x: 0.75rem;
}
.g__4, .gy__4 {
    --bs-gutter-y: 1rem;
}
.g__4, .gx__4 {
    --bs-gutter-x: 1rem;
}
.pt__1 {
    padding-top: 0.25rem;
}
.pt__2 {
    padding-top: 0.5rem;
}
.pt__3 {
    padding-top: 0.75rem;
}
.pt__4 {
    padding-top: 1rem;
}
.pb__1 {
    padding-top: 0.25rem;
}
.pb__2 {
    padding-top: 0.5rem;
}
.pb__3 {
    padding-top: 0.75rem;
}
.pb__4 {
    padding-top: 1rem;
}

.post-height__xs {
    height: calc(176px - var(--bs-gutter-x))
}
.post-height__sm {
    height: calc(266px - var(--bs-gutter-x));
}
.post-height__md {
    height: calc(352px - var(--bs-gutter-x))
}
.post-height__lg {
    height: calc(532px - var(--bs-gutter-x));
}
.post-height__xl {
    height: calc(704px - var(--bs-gutter-x));
}
.post{

}
.post__cell-shape {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: transparent;
    border-radius: .25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    cursor: pointer;
}
.post__cell-shape:hover .post__cell-title {
    background: rgba(0,0,0,0.4);
}
.post__cell-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: .25rem;
}
.post__cell-background img {
    background-position: center center;
    object-fit: cover;
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.post__cell-title {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 22px;
    text-align: left;
}
.post__cell-title:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.25rem;
}
.post__cell-title span {
    position: absolute;
    bottom: 0rem;
    padding: 3.5rem 1.5rem;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 20px;
    text-shadow: 0 0 2px rgb(0 0 0 / 50%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    border-radius: 0.25rem;
}
/*** List ***/
.post__list-shape {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: transparent;
    border-radius: .25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}
.post__list-shape .list-shape__title {
    font-size: 1rem;
    font-weight: 600;
    color: #666;
    opacity: 0.5;
}
.post__list-shape .list-shape__title:hover {
    opacity: 1;
}
.post__list-shape .list-shape__list {
    display: block;
    width: 100%;
}
.post__list-shape .list-shape__list .list__item {
    position: relative;
    height: 120px;
    border-bottom: 1px solid rgba(0,0,0, .15);
}
.post__list-shape .list-shape__list .list__item:last-child {
    border-bottom: none;
}
.post__list-shape .list-shape__list .list__item .item__title {
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 20px;
    color:#333;
}
.post__list-shape .list-shape__list .list__item .item__title:hover {
    color: #0075FF
}
.post__list-shape .list-shape__list .list__item .cell-info {
    padding: 0 !important;
    bottom: 1rem;

}
.cell-info {
    position: absolute;
    display: flex;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    bottom: 1.5rem;
}
.cell-info ul {
    position: relative;
    display: flex;
    align-items: center;
    font-size: .7rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cell-info ul .nav-item {
    fill: #fff;
    color: #fff;
    opacity: 0.5;
}
.post__list-shape .cell-info ul .nav-item {
    fill: #666;
    color: #666;
    opacity: 0.5;
}
.cell-info .cell-info__share .nav-item:hover {
    opacity: 1;
}
.cell-info ul .nav-item .nav-link {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
}
.cell-info .cell-info__date .nav-item:nth-child(2) .nav-link {
    display: flex;
    width: 1.05rem;
    height: 1.05rem;
    align-items: center;
    justify-content: center;
}
.cell-info ul .nav-item .nav-link .svg-icon {
    width: 100%;
    height: 100%;
}
.cell-info .cell-info__date {
    justify-content: start;
}
.cell-info .cell-info__share {
    justify-content: end;
}
.cell-info__share .nav-item:last-child .nav-link {
    margin-right: -5px;
}
.cell-info__share .share-more .share-more__desktop,
.cell-info__share .share-more .share-more__mobile {
    height: 100%;
}
/* Share-full */
.share-full {
    position: absolute;
    display: none;
    z-index: 1000;
    min-width: fit-content;
    max-height: 94%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: -4px 4px 15px rgb(0 0 0 / 25%);
    text-align: left;
    font-size: .8rem;
}
.share-full:after {
    content: "";
    position: absolute;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    top: 100%;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}
.share-full.active{
    display: block;
}
.share-full ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}
.share-full ul li {
    display: block;
}
.share-full ul li a {
    display: block;
    padding: 0 20px;
    width: 100%;
    color: #5E5E5E;
    line-height: 37px;
}
.share-full ul li a:hover {
    background-color: #F2F2F2;
}
.share-full .share-full__icon {
    display: flex;
    float: right;
    margin: 5px 0 0 -26px;
    width: 26px;
    height: 26px;
}
.share-full .share-full__icon .svg-icon {
    width: 100%;
    height: 100%;
}
.share-full .share-full__text {
    padding-right: 56px;
}