.textarea {
    border: none;
    margin: 8px 0 0;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    resize: none;
    outline: 0;
    min-height: 30px;
    height: auto;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Apple Color Emoji,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}